<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Post it, Share</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="resources/css/main-style.css">
    </head>
    <body > 
    <nav>
	<div class="nav-wrapper"> <a href="#" style="padding-left: 10px;">POST IT, SHARE IT</a>
	 <ul id="nav-mobile" class="right">
	<li><a href="#"><i class="material-icons prefix">account_circle</i></a></li>
	<li><a href="#">Sign Out</a></li>
    </ul>
		
	</div>
    </nav>
    <div class="container">
    	<div class="row">
   			<div class="card-panel center style="background-color: #1abc9c;" lighten-1">
   				<h2 class="title">WELCOME ON BOARD, CREATE YOUR AMAZING GROUP HERE.</h2>
   			</div>
   			<hr/>
   			<div>
 <div class="row gp-form">
	<form class="col s12 m12" method="post" action="#">
		<div class="row">
			<div class="input-field col s6">
				<input placeholder="Group Name" type="text" class="validate" required>
			</div>
			<div class="input-field col s6">
				<input placeholder="Group Category" type="text" class="validate">
			</div>
			<button class="btn waves-effect waves-light col s12" type="submit" name="action">Create Group
    <i class="material-icons right"></i>
  </button>
		</div>
	</form>
</div>
   		<div class="row add">
   			<div class="card-panel z-depth-2 col s6 m6 l6">
   			<h4 class="center">Groups</h4>
   			<hr/>
      <div class="collection">
        <div>
        	 <a href="#" class="collection-item">HTML 5</a>
        </div>
        <div>
        	 <a href="#!" class="collection-item ">JQuery</a>
		  </div>
      </div>
   				
   			</div>
   			<div class="card-panel z-depth-2 col s6 m6 l6 member">
   				<h4>Add Members </h4>
   				<hr/>
   				 <div class="member">
   				<h5>Indian Man</h5> 
				<button class="btn waves-effect waves-teal">Add</button></td>
   				 </div>
   				  <div class="member">
   				<h5>Kachi</h5>
				<button class="btn waves-effect waves-teal">Add</button></td>
   				 </div>
   			</div>
   		</div>		
    	</div>
    </div>
     <footer>
            <div class="container center">
            <p>&copy; PostIt 2017</p>
            </div>
     </footer>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>