<!Doctype html>
<html lang="en">

<head>
	<title>Post it, Share It</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="resources/css/main-style.css">
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid nav-style">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
				<a class="navbar-brand" href="#">Post it, Share It</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse nav-item-style">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Welcome</a></li>
					<li><a href="#">Sign Out</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="page-description">
			<p>Messages posted to groups you belong</p>
		</div>
		<div id="post-txt">
			<div><textarea rows="4" cols="50" readonly>
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. 
					</textarea></div>
			<div class="group-name">Andela Group</div> <label>Posted by</label> <span>Samuel</span>
			<div>Date posted <span> 14/8/2017 </span></div>
			<div><textarea rows="4" cols="50" readonly>
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. 
					</textarea></div>
			<div class="group-name">Andela Group</div> <label>Posted by</label> <span>Onyekachi</span>
			<div>Date posted <span> 14/8/2017 </span></div>
		</div>
	</div>
	<footer>
		<div>
			<p>Copyright &copy; PostIt App Inc 2017. All rights reserved.</p>
		</div>
	</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>