server/app.js
server/spec/*
server/models/*js
server/routes/*js
server/app.js
server/controllers/*js
server/dist/
coverage/
node_modules/
server/
dist/
template/
.vscode/
.hound.yml
.coveralls.yml
.travis.yml



