/*---------------------------------------------*/
/* BASIC SETUP
/*---------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	background-color: #f3f4f4;
	color: #555;
    font: {
        family: 'Lato', 'Arial', sans-serif;
        weight: 300;
        size: 20px;
    }
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header {
    background: {
        image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(http://i.imgur.com/5MD10l3.jpg);
        size: cover;
        position: center;
    }
	height: 100vh;
}
footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	padding: 10px;
	margin-top: 200px;
	background-color: #BDC3C7;
	color: #fff;
	text-align: center;
}
h1 {
	color: #fff;
	font-size: 5.9vw;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 2px;
}

h2 {
	color: #fff;
	font-size: 3.0vh;
	font-weight: 300;
	margin-top: 0;
	text-transform: capitalize;
	letter-spacing: 1px;
	word-spacing: 3px;
}

h3 {
	color: #4f575e;
    font-size: 27px;
}
h4 {
	color: #fff;
    font-size: 27px;
}
#main {
    color: #6C7A89;
}
/*---------------------------------------------*/
/* Landing page
/*---------------------------------------------*/
// .modal { width: 75% !important ; height: 75% !important ; } 
.nav-wrapper a {
	padding-left: 10px;
}
.page-heading {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
    & .signup-btn:link,
    & .signup-btn:visited { 
    display: inline-block;
	  padding: 10px 30px;
	  font-weight: 300;
	  text-decoration: none;
	  background-color: #e67e22;
	  border-radius: 200px;
	  color: #fff;
	}
	& .signup-btn:hover,
	& .signup-btn:active {
	  background-color: #cf6d17;
	}
}	
.modal { 
	width: 37% !important ; 
	max-height: 90% !important ; 
	}
.modal {
	margin-top: 10px;
}
.modal-title {
    height: 40px;
    background-color: #3e7293;  
}
.close-modal {
    float: right;
    margin-right: 10px;
    & a {
      color: #fff;
      font-size: 18px;
    }
}
.title {
	color: #2ecc71;
}

.navbar, nav {
	background-color: #3e7293;
}

.navbar, nav {
	background-color: #3e7293;
}
.navbar .nav-style a {
	color: #fff;
	&:hover,
	&:active {
	  color: #fff;
	}
	&:link,
	&:visited {
	  color: #fff;
	}
}
.navbar .nav-item-style li a {
	color: #fff;
	&:link,
	&:visited {
	  color: #fff;
	}
	&:hover,
	&:active {
	  color: #fff;
	}
}
/*---------------------------------------------*/
/* Create Group Styling
/*---------------------------------------------*/
.add {
	margin-bottom: 65px;
}
.heading {
	background-color: #fff;
    height: 60px;
}
.gp-form {
	margin-top: 50px;

}
.member {
	margin-bottom: 20px;
}
.add-btn {
	margin-bottom: 10px;
}
.left {
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 24px;
}
.right { 
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}
button .right {
    color: #56ad55
}
.input-group{
  display:table;
  width:100%;
}
.input-group .input-field,
.input-group .input-group-addon{
  display:table-cell;
}
.search {
    margin-top: 80px;
    background-color: #fff;
}
.groups {
    margin-top: 120px;
}
.radio-btn {
	float: right;
}
.gp {
    margin-bottom: 5px;
}
.gp-title, post-title {
    text-align: center;
    color: #897755;
    height: 30px;
    width: auto;
    margin-bottom: 10px;
}
.group-list {
    max-width: 60%;
    margin-left: 20% !important;
    margin-bottom: 5px;
    background-color: #fff;
    height: 40px;
    color: #26a69a;
}
/*---------------------------------------------*/
/* Post Message Page Styling
/*---------------------------------------------*/
.heading {
	background-color: #fff;
    height: 60px;
}
.message {
	background-color: #c3f2d7;
	& h4 {
	  color: #fff;
	}
}
.type-text {
	height: 120px;
}
.messages {
    margin-bottom: 100px;
    margin-top: 60px;
}
/*---------------------------------------------*/
/* Show message styling
/*---------------------------------------------*/
.gp-messages {
    margin-top: 35px;
}
.acordion {
    margin-bottom: 120px;
}
.select-group {
	max-width: 60%;
    margin-left: 20% !important;
	margin-top: 40px;
	margin-bottom: 40px;
}