/*---------------------------------------------*/
/* BASIC SETUP
/*---------------------------------------------*/
@import "helper/mixins";
@import "helper/variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
	height: 100%;
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}
header {
	background: {
		@include image('img/backGround.jpg', 0, 0, 0, 0.7);
		size: cover;
		position: : center;
	}
	height: 100vh;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	padding: 10px;
	margin-top: 200px;
	background-color: #BDC3C7;
	color: #fff;
	text-align: center;
}
/*---------------------------------------------*/
/* Page header for landing page
/*---------------------------------------------*/
.page-heading {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	.signup-btn:link, .signup-btn:visited {
		display: inline-block;
		padding: 10px 30px;
		font-weight: 300;
		text-decoration: none;
		background-color: #e67e22;
		border-radius: 200px;
		color: $white;
	}
}
.page-heading {
	.signup-btn:hover, .signup-btn:active {
		background-color: #cf6d17;
	}
}
.modal {
	margin-top: 50px;
}
.navbar {
	background-color: #4B77BE;
	.nav-style a {
		color: $white;
	}
	.nav-style a:hover, nav-style a:active {
		color: $white;
	}
	.nav-style a:link, nav-style:visited {
		color: $white;
	}
	.nav-item-style li a {
		color: $white;
	}
	.nav-item-style li a:link, .nav-item-style a:visited {
		color: $white;
	}
	.nav-item-style li a:hover, .nav-item-style a:active {
		color: $white;
	}
}
/*---------------------------------------------*/
/* Create Group Styling
/*---------------------------------------------*/
.add {
	margin-bottom: 65px;
}
.heading {
	background-color: #1abc9c;
}

.gp-form {
	margin-top: 50px;

}
.member {
	margin-bottom: 20px;
}
.add-btn {
	margin-bottom: 10px;
}

/*---------------------------------------------*/
/* Post Message Page Styling
/*---------------------------------------------*/
.message {
	background-color: #c3f2d7;
	
}
.message h4 {
	color: #fff
}
.type-text {
	height: 120px;
}

/*---------------------------------------------*/
/* Show message styling
/*---------------------------------------------*/
#post-txt textarea {
	padding: 10px;
}


